In [1]:
import numpy as np
import pandas as pd
import datetime

In [2]:
date1 = pd.to_datetime("3th September, 2021")
print(date1)
print(type(date1))

2021-09-03 00:00:00
<class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [3]:
date1.year

2021

In [4]:
date2 = datetime.datetime.now()
print(date2)

2021-09-03 20:56:06.806890

In [5]:
print("Today is: ", date2)
print("The date four days later is: ", date2 + pd.to_timedelta(4, unit="D"))

Today is:  2021-09-03 20:56:06.806890
The date four days later is:  2021-09-07 20:56:06.806890

In [6]:
date_init = pd.date_range(start="24/08/2021", end="24/10/2021", freq="D")
date_init

DatetimeIndex(['2021-08-24', '2021-08-25', '2021-08-26', '2021-08-27',
               '2021-08-28', '2021-08-29', '2021-08-30', '2021-08-31',
               '2021-09-01', '2021-09-02', '2021-09-03', '2021-09-04',
               '2021-09-05', '2021-09-06', '2021-09-07', '2021-09-08',
               '2021-09-09', '2021-09-10', '2021-09-11', '2021-09-12',
               '2021-09-13', '2021-09-14', '2021-09-15', '2021-09-16',
               '2021-09-17', '2021-09-18', '2021-09-19', '2021-09-20',
               '2021-09-21', '2021-09-22', '2021-09-23', '2021-09-24',
               '2021-09-25', '2021-09-26', '2021-09-27', '2021-09-28',
               '2021-09-29', '2021-09-30', '2021-10-01', '2021-10-02',
               '2021-10-03', '2021-10-04', '2021-10-05', '2021-10-06',
               '2021-10-07', '2021-10-08', '2021-10-09', '2021-10-10',
               '2021-10-11', '2021-10-12', '2021-10-13', '2021-10-14',
               '2021-10-15', '2021-10-16', '2021-10-17', '2021-10-18',
               '2021-10-19', '2021-10-20', '2021-10-21', '2021-10-22',
               '2021-10-23', '2021-10-24'],
              dtype='datetime64[ns]', freq='D')

In [8]:
date_end = pd.date_range(start="24/11/2021", end="24/01/2022", freq="D")
date_end

DatetimeIndex(['2021-11-24', '2021-11-25', '2021-11-26', '2021-11-27',
               '2021-11-28', '2021-11-29', '2021-11-30', '2021-12-01',
               '2021-12-02', '2021-12-03', '2021-12-04', '2021-12-05',
               '2021-12-06', '2021-12-07', '2021-12-08', '2021-12-09',
               '2021-12-10', '2021-12-11', '2021-12-12', '2021-12-13',
               '2021-12-14', '2021-12-15', '2021-12-16', '2021-12-17',
               '2021-12-18', '2021-12-19', '2021-12-20', '2021-12-21',
               '2021-12-22', '2021-12-23', '2021-12-24', '2021-12-25',
               '2021-12-26', '2021-12-27', '2021-12-28', '2021-12-29',
               '2021-12-30', '2021-12-31', '2022-01-01', '2022-01-02',
               '2022-01-03', '2022-01-04', '2022-01-05', '2022-01-06',
               '2022-01-07', '2022-01-08', '2022-01-09', '2022-01-10',
               '2022-01-11', '2022-01-12', '2022-01-13', '2022-01-14',
               '2022-01-15', '2022-01-16', '2022-01-17', '2022-01-18',
               '2022-01-19', '2022-01-20', '2022-01-21', '2022-01-22',
               '2022-01-23', '2022-01-24'],
              dtype='datetime64[ns]', freq='D')

In [9]:
list1 = []
for i in range(15):
    list1.append(np.random.randint(2))
df = pd.DataFrame()
df["Campaña_inicio"] = date_init[2:17]
df["Campaña_fin"] = date_end[2:17]
df["Frecuencia"] = list1
df

   Campaña_inicio Campaña_fin  Frecuencia
0      2021-08-26  2021-11-26           0
1      2021-08-27  2021-11-27           1
2      2021-08-28  2021-11-28           0
3      2021-08-29  2021-11-29           0
4      2021-08-30  2021-11-30           0
5      2021-08-31  2021-12-01           1
6      2021-09-01  2021-12-02           0
7      2021-09-02  2021-12-03           0
8      2021-09-03  2021-12-04           1
9      2021-09-04  2021-12-05           1
10     2021-09-05  2021-12-06           0
11     2021-09-06  2021-12-07           0
12     2021-09-07  2021-12-08           1
13     2021-09-08  2021-12-09           0
14     2021-09-09  2021-12-10           0

In [20]:
df["Día de inicio"] = df["Campaña_inicio"].dt.day
df["Mes de inicio"] = df["Campaña_inicio"].dt.month
df["Año de inicio"] = df["Campaña_inicio"].dt.year
df["Hora de inicio"] = df["Campaña_inicio"].dt.second
df["Minuto de inicio"] = df["Campaña_inicio"].dt.minute
df["Segundo de inicio"] = df["Campaña_inicio"].dt.second
df["Día de la semana de inicio"] = df["Campaña_inicio"].dt.weekday

df["Duración de campaña"] = df["Campaña_fin"] - df["Campaña_inicio"]
df

,Campaña_inicio,Campaña_fin,Frecuencia,Día de inicio,Mes de inicio,Año de inicio,Hora de inicio,Minuto de inicio,Segundo de inicio,Día de la semana de inicio,Semana de inicio,Duración de campaña
0,2021-08-26,2021-11-26,0,26,8,2021,0,0,0,3,34,92 days
1,2021-08-27,2021-11-27,1,27,8,2021,0,0,0,4,34,92 days
2,2021-08-28,2021-11-28,0,28,8,2021,0,0,0,5,34,92 days
3,2021-08-29,2021-11-29,0,29,8,2021,0,0,0,6,34,92 days
4,2021-08-30,2021-11-30,0,30,8,2021,0,0,0,0,35,92 days
5,2021-08-31,2021-12-01,1,31,8,2021,0,0,0,1,35,92 days
6,2021-09-01,2021-12-02,0,1,9,2021,0,0,0,2,35,92 days
7,2021-09-02,2021-12-03,0,2,9,2021,0,0,0,3,35,92 days
8,2021-09-03,2021-12-04,1,3,9,2021,0,0,0,4,35,92 days
9,2021-09-04,2021-12-05,1,4,9,2021,0,0,0,5,35,92 days
10,2021-09-05,2021-12-06,0,5,9,2021,0,0,0,6,35,92 days
11,2021-09-06,2021-12-07,0,6,9,2021,0,0,0,0,36,92 days
12,2021-09-07,2021-12-08,1,7,9,2021,0,0,0,1,36,92 days
13,2021-09-08,2021-12-09,0,8,9,2021,0,0,0,2,36,92 days
14,2021-09-09,2021-12-10,0,9,9,2021,0,0,0,3,36,92 days

In [21]:
from datetime import timedelta
df["Días de duración"] = df["Duración de campaña"] / timedelta(days=1)
df["Minutos de duración"] = df["Duración de campaña"] / timedelta(minutes=1)
df["Segundos de duración"] = df["Duración de campaña"] / timedelta(seconds=1)

df

,Campaña_inicio,Campaña_fin,Frecuencia,Día de inicio,Mes de inicio,Año de inicio,Hora de inicio,Minuto de inicio,Segundo de inicio,Día de la semana de inicio,Semana de inicio,Duración de campaña,Días de duración,Minutos de duración,Segundos de duración
0,2021-08-26,2021-11-26,0,26,8,2021,0,0,0,3,34,92 days,92.0,132480.0,7948800.0
1,2021-08-27,2021-11-27,1,27,8,2021,0,0,0,4,34,92 days,92.0,132480.0,7948800.0
2,2021-08-28,2021-11-28,0,28,8,2021,0,0,0,5,34,92 days,92.0,132480.0,7948800.0
3,2021-08-29,2021-11-29,0,29,8,2021,0,0,0,6,34,92 days,92.0,132480.0,7948800.0
4,2021-08-30,2021-11-30,0,30,8,2021,0,0,0,0,35,92 days,92.0,132480.0,7948800.0
5,2021-08-31,2021-12-01,1,31,8,2021,0,0,0,1,35,92 days,92.0,132480.0,7948800.0
6,2021-09-01,2021-12-02,0,1,9,2021,0,0,0,2,35,92 days,92.0,132480.0,7948800.0
7,2021-09-02,2021-12-03,0,2,9,2021,0,0,0,3,35,92 days,92.0,132480.0,7948800.0
8,2021-09-03,2021-12-04,1,3,9,2021,0,0,0,4,35,92 days,92.0,132480.0,7948800.0
9,2021-09-04,2021-12-05,1,4,9,2021,0,0,0,5,35,92 days,92.0,132480.0,7948800.0
10,2021-09-05,2021-12-06,0,5,9,2021,0,0,0,6,35,92 days,92.0,132480.0,7948800.0
11,2021-09-06,2021-12-07,0,6,9,2021,0,0,0,0,36,92 days,92.0,132480.0,7948800.0
12,2021-09-07,2021-12-08,1,7,9,2021,0,0,0,1,36,92 days,92.0,132480.0,7948800.0
13,2021-09-08,2021-12-09,0,8,9,2021,0,0,0,2,36,92 days,92.0,132480.0,7948800.0
14,2021-09-09,2021-12-10,0,9,9,2021,0,0,0,3,36,92 days,92.0,132480.0,7948800.0

In [22]:
df2 = pd.DataFrame({
    "Var1" : ["aa", None, "cc"],
    "Var2" : [20, 30, None],
    "Var3" : [221, 131, 1234]},
    index = ["Case1", "Case2", "Case3"]
)
df2

       Var1  Var2  Var3
Case1    aa  20.0   221
Case2  None  30.0   131
Case3    cc   NaN  1234

In [23]:
pd.isnull(df2)

        Var1   Var2   Var3
Case1  False  False  False
Case2   True  False  False
Case3  False   True  False

In [26]:
df2.dropna(subset=['Var1', 'Var2'])

      Var1  Var2  Var3
Case1   aa  20.0   221

In [27]:
df2.fillna("")

      Var1 Var2  Var3
Case1   aa   20   221
Case2        30   131
Case3   cc       1234

In [28]:
df2.fillna(22)

      Var1  Var2  Var3
Case1   aa  20.0   221
Case2   22  30.0   131
Case3   cc  22.0  1234